<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {font-family: Arial, Helvetica, sans-serif;}
        * {box-sizing: border-box;}
        .input-container {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            width: 100%;
            margin-bottom: 15px;
        }
        .icon {
            padding: 10px;
            background: dodgerblue;
            color: white;
            min-width: 50px;
            text-align: center;
        }

        .input-field {
            width: 100%;
            padding: 10px;
            outline: none;
        }

        .input-field:focus {
            border: 2px solid dodgerblue;
        }

/* Set a style for the submit button */
        .btn {
            background-color: dodgerblue;
            color: white;
            padding: 15px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

        .btn:hover {
            opacity: 1;
        }
        .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: dodgerblue;
   color: white;
   text-align: center;
}
        .alert-danger {
    color: #670f12;
    background-color: #f4d2d3;
    border-color: #efbfc1;
}

.alert-dismissible {
    padding-right: 4rem;
}
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
    </style>
</head>
<body>

<form method="post"  style="max-width:500px;margin:auto">
  {% csrf_token %}

{% if form.errors %}
    <div class="alert alert-dismissible alert-danger">
        <strong>Oh!</strong>Password o username incorrecto, Por favor intenta de nuevo.
    </div>
    {% endif %}
   <h2>LOGIN GCC</h2>
  <div class="input-container">
    <i class="fa fa-user icon"></i>
{#      {{ form.username }}#}
    <input class="input-field" type="text" placeholder="Username" name="username">
  </div>

  <div class="input-container">
    <i class="fa fa-key icon"></i>
      {% comment %}{{ form.password }}{% endcomment %}
    <input class="input-field" type="password" placeholder="Password" name="password">
  </div>

  <button type="submit" class="btn">Entrar</button>

</form>
<div class="footer">
  <p>TP 2 GCC Andrea Benitez</p>
</div>

</body>
</html>