{% extends 'base.html' %}

{% block title %}Home{% endblock %}
 {% block logout %}
{% if user.is_authenticated %}

 <a href="{% url 'logout' %}"><i class="fa fa-fw  fa-sign-out"></i> Salir</a>
   {% else %}
    <a href="{% url 'login' %}"><i class="fa fa-fw  fa-sign-in"></i> Entrar</a>

{% endif %}
 {% endblock %}
{% block content %}
{% if user.is_authenticated %}

    <div id="myDIV" class="header">
  <h2 style="margin:5px">Lista de tareas</h2>
  <input type="text" id="myInput" placeholder="Ingrese tarea...">
  <span onclick="newElement()" class="addBtn">Agregar</span>
</div>

<ul id="myUL">
  <li class="checked">Instalar Django</li>
  <li class="checked">Hacer Login</li>
  <li>Configurar gitlab-ci.yml</li>
  <li>Git add .</li>
  <li>Git commit</li>
  <li>Git push</li>
</ul>

<script>
// Create a "close" button and append it to each list item
var myNodelist = document.getElementsByTagName("LI");
var i;
for (i = 0; i < myNodelist.length; i++) {
  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  myNodelist[i].appendChild(span);
}

// Click on a close button to hide the current list item
var close = document.getElementsByClassName("close");
var i;
for (i = 0; i < close.length; i++) {
  close[i].onclick = function() {
    var div = this.parentElement;
    div.style.display = "none";
  }
}

// Add a "checked" symbol when clicking on a list item
var list = document.querySelector('ul');
list.addEventListener('click', function(ev) {
  if (ev.target.tagName === 'LI') {
    ev.target.classList.toggle('checked');
  }
}, false);

// Create a new list item when clicking on the "Add" button
function newElement() {
  var li = document.createElement("li");
  var inputValue = document.getElementById("myInput").value;
  var t = document.createTextNode(inputValue);
  li.appendChild(t);
  if (inputValue === '') {
    alert("Escribe algo!");
  } else {
    document.getElementById("myUL").appendChild(li);
  }
  document.getElementById("myInput").value = "";

  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  li.appendChild(span);

  for (i = 0; i < close.length; i++) {
    close[i].onclick = function() {
      var div = this.parentElement;
      div.style.display = "none";
    }
  }
}
</script>

{% else %}
    <div class="alert alert-dismissible alert-danger">
        <strong>Atención!</strong>No estas logueado. <a href="{% url 'login' %}">Ingresa aquí.</a>
    </div>

{% endif %}
{% endblock %}